body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resultField:nth-child(odd) {
  background-color: #F5F7FA;
}

.resultField {
  padding: 0.25rem .5rem;
}

.resultExpandCollapse {
  border-left: 1px solid #D3DAE6;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 0 0 .5rem;
}